<!-- app/templates/admin/steps/steps.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block body %}
<div class="row">
        <div class="col-lg-9 style-col">
            <div class="CongThucNauAn">
                <div class="foodName" id="foodName">
                    {{ food.name }}
                </div>
                <div class="userDangBai" id="userDangBai">
                    By <a href="#" title="">Chien</a>
                </div>
                <div id="NoiDung">
                    <div id="NguyenLieu">
                        <p><b>Ingredients : </b></p>
                        <ul>
                            <li>Chicken : 2Kg</li>
                            <li> ...</li>
                        </ul>
                    </div>
                    <div id="Description">
                        <p><b>Directions : </b></p>

                        {% if steps %}
                            <ul>
                                {% for step in steps %}
                                    <li>Step {{ step.order }}: {{ step.desc }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div style="text-align: center">
                                <h3> No Steps have been added. </h3>
                                <hr class="intro-divider">
                            </div>
                        {% endif %}
                            <a href="{{ url_for('admin.add_step', food_id=food_id, food_order=1) }}"
                               class="btn btn-default btn-lg">
                                <i class="fa fa-plus"></i>
                                Add Step
                            </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 style-col">
            <table class="table">
                <thead>
                <div class="caption-table">
                    Top Contribute
                </div>
                <tr>
                    <th scope="col" class="col-number">#</th>
                    <th scope="col" class="col-User">User</th>
                    <th scope="col" class="col-rate">Rate</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="col" class="col-number">1</td>
                    <td scope="col" class="col-User"><a href="#">Bitagi</a></td>
                    <td scope="col" class="col-rate">6962</td>
                </tr>
                <tr>
                    <td scope="col" class="col-number">2</td>
                    <td scope="col" class="col-User"><a href="#">Chien</a></td>
                    <td scope="col" class="col-rate">5962</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}