<!-- app/templates/admin/steps/steps.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-9 style-col">
            <div class="CongThucNauAn">
                <br/>
                {{ utils.flashed_messages() }}
                <br/>
                <div class="foodName" id="foodName">
                    {{ food.name }}
                </div>
                <div class="userDangBai" id="userDangBai">
                    By <a href="{{ url_for('admin.user_info', user_id=food.user.id) }}" title=""> {{ food.user.username }} </a>
                </div>
                {% if food.img_url %}
                <img src="{{ url_for('static', filename='img/foods/' + food.img_url) }}" alt="">
                {% endif %}
                <div id="NoiDung">
                    <div id="NguyenLieu">
                        <div id = "Description">
							<p><b>Description : </b></p>
							<p> {{ food.desc }} </p>

						</div>
                    </div>
                    <div id="Description">
                        <p><b>Directions : </b></p>
                        {% if food.step.count() %}
                            <hr class="intro-divider">
                            <div class="center">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th> Order</th>
                                        <th> Description</th>
                                        <th> Edit Step</th>
                                        <th> Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for step in food.step %}
                                        <tr>
                                            <td> {{ loop.index }} </td>
                                            <td> {{ step.desc }} </td>
                                            <td>
                                                <a href="{{ url_for('admin.edit_step', food_id=food.id, step_id=step.id) }}">
                                                    <i class="fa fa-pencil"></i> Edit Step
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ url_for('admin.delete_step', food_id=food.id, step_id=step.id) }}">
                                                    <i class="fa fa-pencil"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div style="text-align: center">
                                <h3> No Steps have been added. </h3>
                                <hr class="intro-divider">
                            </div>
                        {% endif %}
                            <a href="{{ url_for('admin.add_step', food_id=food_id, food_order=1) }}"
                               class="btn btn-default btn-lg">
                                <i class="fa fa-plus"></i>
                                Add Step
                            </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 style-col">
            <table class="table">
                <thead>
                <div class="caption-table">
                    Top Contribute
                </div>
                <tr>
                    <th scope="col" class="col-number">#</th>
                    <th scope="col" class="col-User">User</th>
                    <th scope="col" class="col-rate">Rate</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td scope="col" class="col-number">{{ loop.index }}</td>
                        <td scope="col" class="col-User"><a href="#">{{ user[0].email }}</a></td>
                        <td scope="col" class="col-rate">{{ user[1] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}