<!-- app/templates/admin/foods/food.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/Share.css') }} ">
{% endblock %}
{% block title %}Foods{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-9 style-col">
            <br/>
                {{ utils.flashed_messages() }}
            <br/>
            {% if foods %}
                <table class="table table-striped table-bordered">
                    {% for food in foods %}
                        <div class="CongThucNauAn">
                            <div class="foodName" id="foodName">
                                {{ food.name }}
                            </div>
                            <div class="userDangBai" id="userDangBai">
                                By <a href="#" title="">{{ food.user.username  }}</a>
                            </div>
                            {% if food.img_url %}
                            <img class="thumbnail" src="{{ url_for('static', filename='img/foods/' + food[0].img_url) }}" alt="">
                            {% endif %}
                            <div id="NoiDung">

                                <div id="Description">
                                    <p><b>Description : </b></p>
                                    <p> {{ food.desc }} </p>
                                    <a href="{{ url_for('admin.list_step', food_id=food.id) }}">See more</a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3> No foods found. </h3>
                <hr class="intro-divider">
            {% endif %}
        </div>

        {% if users.count() %}
            <div class="col-lg-3 style-col">
                <table class="table">
                    <thead>
                    <div class="caption-table">
                        Top Contribute
                    </div>
                    <tr>
                        <th scope="col" class="col-number">#</th>
                        <th scope="col" class="col-User">User</th>
                        <th scope="col" class="col-rate">Rate</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td scope="col" class="col-number">{{ loop.index }}</td>
                            <td scope="col" class="col-User"><a href="#">{{ user[0].email }}</a></td>
                            <td scope="col" class="col-rate">{{ user[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}